extends base.pug

block content 
    div 
        p=video.description
        small=video.createdAt
    //- /을 넣고 안넣고의 차이 /을 넣으면 localhost:4000옆에 생기고 /을 안넣으면 마지막이 바뀐다
    //- absolute와 relative url의 차이점
    a(href=`${video.id}/edit`) Edit Video &rarr;
    